
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.headerbox {
    margin: auto;
    width: 88%;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.headerlogo {
    display: flex;
}

.headerlogo a {
    display: flex;
    align-content: center;
}

.researchicon {
    display: flex;
    gap: 20px; /* 아이콘 사이의 거리 조절 */
}

.researchicon a {
    display: flex;
    align-items: center;
}